body{
    padding-bottom: 100px;
}

.hangman-body-box {
    width: 100%;
    height: 85%;
    border: 1px solid;
    margin: 0px;
    padding: 0px;
}
#blank-underscores {
    letter-spacing: 4px;
    text-align: center;
    margin-top: 35%;
}

h1 {
    text-align: center;
}

#hangman {
    width: 100%;
    padding: 5px;
}

h4 {
    text-align: center;
    margin-bottom: 5px;
}
p {
    text-align: center;
    margin-bottom: 15px;
}

.guessed-letters p{
    text-align: left;
    font-size: 20px;
}

#blank-underscores {
    font-size: 36px;
}

footer {
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 35px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}